@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1><br />
    <h3>Find your favorite actors and movies (my favorites bc I didn't connect data tables)</h3>
    <h3>The Details link by each entry can display which movies actors were in and vice versa</h3>
    <h3>as well as show Sentiment data from Reddit posts. </h3>
    <h3>So exciting!</h3>
    <iframe src="https://giphy.com/embed/d2ZjBlsQa5dWO45a" width="480" height="360" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/homealone-90s-home-alone-d2ZjBlsQa5dWO45a">via GIPHY</a></p>
</div>
